/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

em {
  background-color: yellow;
}

blockquote {
  border-left: 6px solid #ddd;
  padding-left: 12px;
  color: gray;
}
